<ul>
    <li><span class="nombre">Luis</span><span class="apellido">Perez</span></li>
    <li><span class="nombre">Adrian</span><span class="apellido">Romo</span></li>
    <li><span class="nombre">Daniel</span><span class="apellido">Quiroz</span></li>
</ul>